# Ignore Python artifacts
backend/__pycache__/
backend/venv/
backend/*.db-journal

# Ignore Node.js artifacts
frontend/node_modules/

# Ignore system files
.DS_Store
Thumbs.db

# Optional: VSCode settings
.vscode/


# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Python
backend/__pycache__/
backend/venv/
backend/*.db-journal

# Node
frontend/node_modules/

# System
.DS_Store
Thumbs.db
